@model Docflow.Models.UserListViewModel
@{
    ViewBag.Title = "Список пользователей";
}

<h2>Список пользователей</h2>

<table>
    <tr>
        <td>Идентификатор</td>
        <td>Имя</td>
        <td>Логин</td>
    </tr>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.Name</td>
            <td>@user.UserName</td>
        </tr>
    }
</table>



